/*** FONTS ***/
::-moz-selection {
  background-color: #000;
  color: #fff;
}
::selection {
  background-color: #000;
  color: #fff;
}

* {
  box-sizing: border-box;
}

* * {
  box-sizing: border-box;
}

body {
  font-family: "roboto-x", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

input, button, textarea, select {
  outline: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

.b-center {
  text-align: center;
}

.b-right {
  text-align: right;
}

.page-wrapper {
  overflow: hidden !important;
}

html {
  background-color: #fff;
}

.Container {
  padding: 30px 15px;
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

.Logo {
  margin: 0 auto 5px auto;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Logo img {
  max-width: 100%;
  display: block;
}

.InstaLink {
  display: block;
  text-align: center;
  color: #777777;
  margin-bottom: 30px;
}

.Contacts-Item + .Contacts-Item {
  margin-top: 15px;
}

.Contacts-Item{
  position: relative;
}

.Contacts-Link {
  background-color: #307349;
  color: #ffffff;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  border-radius: 3px;
  padding: 15px;
  text-decoration: none;
  transition: .2s
}

.insta-logo{
  width: 30px;
  margin-right: 20px;
  position: absolute;
  top: 50%;
  left: 34%;
  transform: translateY(-50%);
}

.Contacts-Link:hover {
  background-color: #02541d;
}

@media only screen and (max-width: 1200px) {
  /**/
}

@media only screen and (max-width: 992px) {
  /**/
}

@media only screen and (max-width: 768px) {
  .insta-logo{
    left: 32%;
  }
}

@media only screen and (max-width: 576px) {
  .insta-logo{
    left: 27%;
  }
}

@media only screen and (max-width: 480px) {
  .insta-logo{
    left: 20%;
  }
}

@media only screen and (max-width: 360px) {
  .insta-logo{
    left: 15%;
  }
}

@media only screen and (min-width: 1660px) {
  /**/
}
