/*** FONTS ***/
@font-face {
  font-family: "roboto-x";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff");
}

@font-face {
  font-family: "roboto-x";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/RobotoBold/RobotoBold.woff") format("woff");
}
