/*** FONTS ***/
::-moz-selection {
  background-color: #7d8587;
  color: #fff;
}
::selection {
  background-color: #7d8587;
  color: #fff;
}

* {
  box-sizing: border-box;
}

* * {
  box-sizing: border-box;
}

body {
  font-family: "playfair-x", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

input, button, textarea {
  outline: none;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

.Center {
  text-align: center;
}

.Right {
  text-align: right;
}

.Body-MenuOpened .page-wrapper {
  right: 300px;
}

.Body-MenuOpened .page-wrapper:after {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}

.page-wrapper {
  overflow: hidden !important;
  position: relative;
  -webkit-transition: right .5s ease-in-out;
  transition: right .5s ease-in-out;
  right: 0;
}

.page-wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  pointer-events: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.container-fluid {
  max-width: 1200px;
}

html {
  font-size: 16px;
}

.SectionTitle {
  margin-top: 0;
  color: #14141d;
  font-size: 2.0625rem;
  margin-bottom: 1.875rem;
}

.SectionTitle_White {
  color: #fff;
}

.Button {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  background-color: #fea100;
  font-family: "opensans-x", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  white-space: nowrap;
  border: none;
  -webkit-box-pack: center;
          justify-content: center;
  height: 2.5rem;
  font-size: .8125rem;
  border-radius: 3px;
  padding: .625rem 1.25rem;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.Button:hover {
  background-color: #e59100;
}

.Button:active {
  background-color: #cb8100;
}

.Button-Icon {
  height: .8125rem;
  margin-right: .625rem;
}

.Button_Border {
  position: relative;
}

.Button_Border::after {
  content: '';
  position: absolute;
  top: .1875rem;
  right: .1875rem;
  bottom: .1875rem;
  left: .1875rem;
  border: 1px solid #fff;
  border-radius: 3px;
}

.RowView {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: .9375rem;
  margin-left: auto;
  margin-top: .625rem;
}

.RowView-Button {
  padding: .625rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: .625rem;
  border-radius: 3px;
  background-color: #e0e0e0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.RowView-Button.active {
  background-color: #b0b0b0;
}

.RowView-Button:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 992px) {
  /**/
}

@media only screen and (max-width: 768px) {
  /**/
}

@media only screen and (max-width: 576px) {
  .Body-MenuOpened .page-wrapper {
    right: calc(100vw - 60px);
  }
  .SectionTitle {
    font-size: 1.9rem;
  }
}

@media only screen and (min-width: 1660px) {
  .container-fluid {
    max-width: 1400px;
  }
  html {
    font-size: 20px;
  }
}
