/*** FONTS ***/
.HappyClients-Content {
  padding: 5.625rem 0;
}

.HappyClients-Content .owl-dots {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.HappyClients-Content .owl-dots .owl-dot {
  display: inline-block;
  width: 1.0625rem;
  height: 1.0625rem;
  border-radius: 50%;
  border: 2px solid #3c4248;
  margin-bottom: .625rem;
  position: relative;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.HappyClients-Content .owl-dots .owl-dot::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: .375rem;
  height: .375rem;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 50%;
  background-color: #fea100;
}

.HappyClients-Content .owl-dots .owl-dot.active, .HappyClients-Content .owl-dots .owl-dot:hover {
  border-color: #fea100;
}

.HappyClients-Content .owl-dots .owl-dot.active::before, .HappyClients-Content .owl-dots .owl-dot:hover::before {
  opacity: 1;
}

.HappyClients-Content .owl-dots .owl-dot:last-child {
  margin-bottom: 0;
}

.HappyClients-Title {
  margin-bottom: 3.125rem;
}

.HappyClients-Carousel {
  padding-right: 1.875rem;
}

.ClientReview {
  display: -webkit-box;
  display: flex;
}

.ClientReview-Image {
  width: 12.875rem;
  height: 12.875rem;
  flex-shrink: 0;
  background-color: #7d8587;
  background-position: center;
  background-size: cover;
  
}

.ClientReview-Content {
  width: 100%;
  padding: 0 4.375rem;
  padding-top: .9375rem;
}

.ClientReview-Title {
  margin-top: 0;
  color: #14141d;
  font-size: 1.375rem;
  margin-bottom: .9375rem;
  position: relative;
}

.ClientReview-Title::before {
  content: '\f10d';
  position: absolute;
  top: 0;
  left: -1.875rem;
  font-size: 1.1875rem;
  font-family: "Font Awesome 5 Pro";
}

.ClientReview-Text {
  color: #363d43;
  font-family: "opensans-x", Arial, sans-serif;
  font-size: .9375rem;
  margin-top: 0;
  padding-bottom: 1.875rem;
  position: relative;
}

.ClientReview-Text::before {
  content: '\f10e';
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.1875rem;
  font-weight: 700;
  font-family: "Font Awesome 5 Pro";
}

.ClientReview-Name {
  position: relative;
  font-family: "opensans-x", Arial, sans-serif;
  color: #14141d;
  padding-top: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9375rem;
}

.ClientReview-Name::before {
  content: '';
  position: absolute;
  background-color: #dfdfdf;
  height: 1px;
  top: 0;
  left: 0;
  width: 12.5rem;
}

.ClientReview-Rating i {
  color: #ffc000;
  font-size: .8125rem;
}

@media only screen and (max-width: 1200px) {
  /**/
}

@media only screen and (max-width: 992px) {
  .ClientReview-Content {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .HappyClients-Content {
    padding: 4rem 0;
  }
  .HappyClients-Carousel {
    padding-right: 0;
  }
  .HappyClients .owl-dots {
    position: static;
    -webkit-transform: none;
            transform: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    padding-top: 20px;
    -webkit-box-pack: center;
            justify-content: center;
  }
  .HappyClients .owl-dots .owl-dot {
    margin-bottom: 0;
    margin-right: .625rem;
  }
  .HappyClients .owl-dots .owl-dot:last-child {
    margin-right: 0;
  }
  .ClientReview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .ClientReview-Image {
    margin-bottom: 20px;
  }
  .ClientReview-Content {
    padding: 0 30px;
    padding-right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .ClientReview-Image {
    width: 100%;
  }
}

@media only screen and (min-width: 1660px) {
  /**/
}
