/*** FONTS ***/
.HomeOffer-Content {
  padding: 4.375rem 0 5rem;
}

.FoodMenu--FoodsList {
  margin-bottom: 1.875rem;
}

.FoodMenu-Title {
  margin-bottom: 1.875rem;
}

.FoodMenu .Food {
  position: relative;
}

.FoodMenu .Food:hover::after {
  opacity: 1;
  right: -30px;
  width: .25rem;
}

.FoodMenu .Food::after {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  content: '';
  opacity: 0;
  position: absolute;
  top: .9375rem;
  right: 0;
  bottom: .9375rem;
  pointer-events: none;
  background-color: #fe4c8d;
  width: 0;
}

.Food-Price span{
  margin-left: 5px;
}

.TodaySpecial .owl-dots {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 1.5625rem;
}

.TodaySpecial .owl-dots .owl-dot {
  display: inline-block;
  width: .9375rem;
  height: .9375rem;
  border-radius: 50%;
  border: 2px solid #3c4248;
  margin-right: .625rem;
  position: relative;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.TodaySpecial .owl-dots .owl-dot::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: .375rem;
  height: .375rem;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 50%;
  background-color: #fea100;
}

.TodaySpecial .owl-dots .owl-dot.active, .TodaySpecial .owl-dots .owl-dot:hover {
  border-color: #fea100;
}

.TodaySpecial .owl-dots .owl-dot.active::before, .TodaySpecial .owl-dots .owl-dot:hover::before {
  opacity: 1;
}

.TodaySpecial .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

.TodaySpecial .owl-stage-outer {
  overflow: visible;
}

.TodaySpecial .owl-stage {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}

.TodaySpecial .owl-stage:after {
  display: none;
}

.TodaySpecial .owl-item {
  position: relative;
}

.TodaySpecial .owl-item:first-child.active {
  z-index: 2;
}

.TodaySpecial-Title {
  margin-top: 0;
  color: #14141d;
  font-size: 2.0625rem;
  margin-bottom: 1.875rem;
}

.FoodSpecial {
  box-shadow: 0 0 51px rgba(0, 0, 0, 0.5);
}

.FoodSpecial_Active .FoodSpecial-Image {
  height: 13.125rem;
}

.FoodSpecial-Image {
  background-color: #7d8587;
  height: 10.625rem;
  background-size: cover;
  background-position: center;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.FoodSpecial-Content {
  padding: 1.25rem 2.1875rem;
  padding-bottom: 1.5625rem;
  background-color: #fff;
}

.FoodSpecial-Name {
  margin-top: 0;
  font-size: 1.25rem;
  margin-bottom: .3125rem;
  font-weight: 700;
  text-decoration: none;
  color: #14141d;
  display: inline-block;
}

.FoodSpecial-Price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fea100;
  line-height: 1;
}

.FoodSpecial-Price span {
  font-size: .7em;
  position: relative;
  left: 5px;
}

@media only screen and (max-width: 1200px) {
  /**/
}

@media only screen and (max-width: 992px) {
  .FoodMenu .Food:hover::after {
    right: -20px;
  }
}

@media only screen and (max-width: 900px) {
  .TodaySpecial .owl-stage-outer {
    overflow: hidden;
  }
  .FoodSpecial {
    box-shadow: none;
  }
  .FoodSpecial-Image {
    height: 13.125rem;
  }
  .FoodSpecial-Content {
    border: 1px solid #7d8587;
    border-top: none;
  }
}

@media only screen and (max-width: 768px) {
  .FoodMenu {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 576px) {
  .HomeOffer-Content {
    padding: 4rem 0;
  }
}

@media only screen and (min-width: 1660px) {
  /**/
}
