/*** FONTS ***/
.OurGallery-Content {
  padding: 4.375rem 0;
  background-color: #edf1f3;
}

.OurGallery .container-fluid {
  padding: 0;
}

.OurGallery-Title {
  margin-bottom: 1.5625rem;
  padding: 0 15px;
}

.OurGallery-Carousel .owl-item:nth-child(3) .OurGallery-Item {
  background-position: center 70%;
}

.OurGallery-Item {
  height: 18.75rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
}


.OurGallery-Carousel .owl-dots {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 1.5625rem;
}

.OurGallery-Carousel .owl-dots .owl-dot {
  display: inline-block;
  width: .9375rem;
  height: .9375rem;
  border-radius: 50%;
  border: 2px solid #3c4248;
  margin-right: .625rem;
  position: relative;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.OurGallery-Carousel .owl-dots .owl-dot::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: .375rem;
  height: .375rem;
  opacity: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  border-radius: 50%;
  background-color: #fea100;
}

.OurGallery-Carousel .owl-dots .owl-dot.active, .OurGallery-Carousel .owl-dots .owl-dot:hover {
  border-color: #fea100;
}

.OurGallery-Carousel .owl-dots .owl-dot.active::before, .OurGallery-Carousel .owl-dots .owl-dot:hover::before {
  opacity: 1;
}

.OurGallery-Carousel .owl-dots .owl-dot:last-child {
  margin-right: 0;
}

.OurGallery-Carousel .owl-item:nth-child(2n) .OurGallery-Item {
  background-color: #7d8587;
}

.OurGallery-Carousel .owl-item:nth-child(2n+1) .OurGallery-Item {
  background-color: #6e7678;
}

.OurGallery-Carousel .owl-stage-outer {
  overflow: visible;
}

@media only screen and (max-width: 1200px) {
  /**/
}

@media only screen and (max-width: 992px) {
  /**/
}

@media only screen and (max-width: 768px) {
  /**/
}

@media only screen and (max-width: 576px) {
  /**/
}

@media only screen and (min-width: 1660px) {
  /**/
}
