/*** FONTS ***/
.OurHistory-Content {
  padding: 5rem 0;
}

.OurHistory-Title {
  text-align: center;
}

.OurHistory-Description {
  text-align: center;
  margin: 0 auto;
  max-width: 50rem;
  color: #5c6369;
  font-family: "opensans-x", Arial, sans-serif;
  font-size: .9375rem;
  margin-top: 0;
  margin-bottom: 3.125rem;
}

.OurHistory-Video {
  max-width: 56.25rem;
  margin: 0 auto;
}

.OurHistory-Video figcaption {
  padding: .9375rem 0;
  text-transform: uppercase;
  font-family: "opensans-x", Arial, sans-serif;
  font-weight: 700;
  font-size: .8125rem;
  color: #14141d;
  border-bottom: 1px solid #e3e3e3;
}

.OurHistory-VideoBox {
  height: 28.125rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.OurHistory-VideoBox video {
  height: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 1200px) {
  /**/
}

@media only screen and (max-width: 992px) {
  /**/
}

@media only screen and (max-width: 768px) {
  /**/
}

@media only screen and (max-width: 576px) {
  .OurHistory-Content {
    padding: 4rem 0;
  }
  .OurHistory-Description {
    text-align: justify;
  }
  .OurHistory-VideoBox {
    height: 15rem;
  }
}

@media only screen and (min-width: 1660px) {
  /**/
}
