/*** FONTS ***/
.ReserveTable {
  background-size: cover;
  background-position: center 95%;
  background-repeat: no-repeat;
}

.ReserveTable-Content {
  padding: 6.25rem 0;
  position: relative;
}

.ReserveTable-Title {
  margin-bottom: 1.5625rem;
}

.ReserveTable-Image_2 {
  width: 278px;
  left: calc(100% + 15px);
  height: 278px;
  top: 60%;
  z-index: 999;
  background-position: center bottom !important;
}

.ReserveTable-Image {
  background-size: cover;
  background-position: center;
  position: absolute;
}

.ReserveTable-Image_1 {
  width: 21.7rem;
  height: 21.7rem;
  right: calc(100% + 15px);
  top: -95%;
  left: -40%;
  z-index: 999;
}



.ReserveTableForm {
  position: relative;
}

.ReserveTableForm-Label {
  height: 2.8125rem;
  margin-bottom: .625rem;
  position: relative;
}

.ReserveTableForm-Icon {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: .9375rem;
  width: 1.25rem;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.ReserveTableForm-Icon i {
  color: #363d43;
  font-size: .9375rem;
}

.ReserveTableForm-Input {
  width: 100%;
  border: none;
  padding: .9375rem;
  padding-left: 3.125rem;
  font-family: "opensans-x", Arial, sans-serif;
  font-size: .8125rem;
  color: #363d43;
  height: 100%;
  border-radius: 2px;
}

.ReserveTableForm-Footer {
  margin-top: 1.875rem;
  display: -webkit-box;
  display: flex;
}

.ReserveTableForm--Button {
  margin-right: 1.875rem;
}

.ReserveTableCall {
  display: -webkit-box;
  display: flex;
}

.ReserveTableCall-Title {
  text-transform: uppercase;
  font-family: "opensans-x", Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: right;
  line-height: 1.3;
  font-size: .8125rem;
  height: 100%;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  border-right: 1px solid #fff;
  padding-right: .9375rem;
  margin-right: .9375rem;
}

.ReserveTableCall-Title span {
  display: block;
  color: #fe4c8d;
}

.ReserveTableCall-Phone {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  -ms-grid-row-align: center;
      align-self: center;
  font-size: 1.6875rem;
  position: relative;
  top: -.375rem;
  line-height: 1;
}

@media only screen and (max-width: 1200px) {
  .ReserveTable-Image_2 {
    left: calc(100% - 60px);
  }
}

@media only screen and (max-width: 992px) {
  .ReserveTableForm-Footer {
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .ReserveTableCall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .ReserveTableCall-Title {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .ReserveTableCall-Phone {
    align-self: flex-end;
  }
  .ReserveTable-Image {
    display: none;
    
  }
}

@media only screen and (max-width: 768px) {
  /**/
}

@media only screen and (max-width: 576px) {
  .ReserveTable-Content {
    padding: 4rem 0;
  }
}

@media only screen and (max-width: 450px) {
  .ReserveTableForm--Button {
    margin-bottom: 35px;
    margin-right: 0;
  }
  .ReserveTableForm-Footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
  }
  .ReserveTableCall {
    -webkit-box-pack: center;
            justify-content: center;
  }
  .ReserveTableCall-Title {
    text-align: center;
  }
  .ReserveTableCall-Phone {
    -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (min-width: 1660px) {
  /**/
}
