/*** FONTS ***/
.SpecialReservation-Content {
  background-image: url("../img/OurCooks-Bg.png");
  background-size: auto 31.25rem;
  background-position: center;
  padding: 5rem 0;
}

.SpecialReservation-Title {
  text-align: center;
}

.SpecialCard {
  position: relative;
  margin-bottom: 30px;
}

.SpecialCard:hover .SpecialCard-Popup {
  opacity: 1;
  pointer-events: auto;
  outline-offset: -10px;
}

.SpecialCard-Image {
  height: 12.5rem;
  background-color: #7d8587;
  background-size: cover;
  background-position: center;
}

.SpecialCard-Content {
  background-color: #fff;
  padding: 1.5625rem;
}

.SpecialCard-Popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  left: 0;
  background-color: #fe4c8d;
  padding: 15px;
  pointer-events: none;
  opacity: 0;
  outline: 1px dashed #fff;
  outline-offset: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.SpecialCard-Title {
  margin-top: 0;
  font-size: 1.4375rem;
  margin-bottom: .9375rem;
}

.SpecialCard-Desc {
  margin: 0;
  font-size: .8125rem;
  font-family: "opensans-x", Arial, sans-serif;
  color: #5c6369;
}

.SpecialCardCall, .SpecialCardMail {
  color: #fff;
  text-align: center;
}

.SpecialCardCall-Icon, .SpecialCardMail-Icon {
  font-size: 1.6875rem;
}

.SpecialCardCall-Contact, .SpecialCardMail-Contact {
  font-size: 1.375rem;
  font-weight: 700;
  text-transform: uppercase;
}

.SpecialCardCall-Text, .SpecialCardMail-Text {
  font-family: "opensans-x", Arial, sans-serif;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;
}

.SpecialCardCall {
  margin-bottom: 1.875rem;
}

.SpecialCardCall-Contact {
  font-size: 1.875rem;
}

@media only screen and (max-width: 1200px) {
  /**/
}

@media only screen and (max-width: 992px) {
  /**/
}

@media only screen and (max-width: 768px) {
  /**/
}

@media only screen and (max-width: 576px) {
  .SpecialReservation-Content {
    padding: 4rem 0;
  }
}

@media only screen and (min-width: 1660px) {
  /**/
}
