@charset "UTF-8";
/*** FONTS ***/
.sections-wrapper {
  margin: 60px 0 90px 0; }
  .sections-wrapper section {
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    color: #434343; }
    .sections-wrapper section:last-child {
      margin-bottom: 0; }

.heading {
  margin-bottom: 30px;
  font-size: 1.5em; }

.latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .latest__link, .latest__subtitle {
    color: #778492; }
  .latest__link {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto; }
    .latest__link:hover {
      text-decoration: underline; }
  .latest__subtitle {
    margin-bottom: 30px;
    text-align: center; }
  .latest__img {
    display: block;
    margin-bottom: 30px;
    position: relative;
    z-index: 1; }
    .latest__img img {
      width: 100%; }
    .latest__img .ribbon {
      top: -5px;
      right: -5px;
      position: absolute;
      width: 100px;
      height: 100px;
      overflow: hidden; }
      .latest__img .ribbon__text {
        padding: 8px 50px;
        position: absolute;
        top: 18px;
        right: -44px;
        -webkit-transform: rotateZ(45deg);
            -ms-transform: rotate(45deg);
                transform: rotateZ(45deg);
        z-index: 2; }
      .latest__img .ribbon:after, .latest__img .ribbon:before {
        content: " ";
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #2d7496;
        z-index: -1; }
      .latest__img .ribbon:before {
        top: 0;
        left: 0; }
      .latest__img .ribbon:after {
        bottom: 0;
        right: 0; }
      .latest__img .ribbon span {
        display: inline-block;
        background-color: #479FC8;
        color: #fff;
        font-weight: bold; }
  .latest .btn {
    -ms-flex-item-align: center;
        align-self: center;
    margin: 30px 0 60px 0;
    background-color: #479FC8; }
    .latest .btn:hover {
      background-color: #3384a9; }

.projects {
  margin-top: 60px;
  position: relative; }
  .projects .container-fluid, .projects .container-fluid div {
    padding: 0;
    margin: 0; }
  .projects__list li {
    margin-bottom: 30px; }
    .projects__list li:last-child {
      margin-bottom: 0; }
  .projects__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%; }
    .projects__img img {
      width: 100%; }
  .projects__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding-left: 30px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .projects__link {
    font-weight: bold;
    font-family: 'Montserrat';
    color: #778492;
    font-size: 18px; }
    .projects__link:hover {
      text-decoration: underline;
      color: #5f6b77; }
  .projects:before {
    content: ' ';
    position: absolute;
    height: 1px;
    width: 100%;
    padding: 0 30px;
    background-color: #ddd;
    top: -60px; }

.lite-elm {
  position: relative; }
  .lite-elm:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: .2;
    visibility: hidden; }
  .lite-elm:hover:before {
    visibility: visible; }

.contact-list li {
  position: relative;
  margin-bottom: 15px; }
  .contact-list li:last-child {
    margin-bottom: 0; }
  .contact-list li a:hover {
    text-decoration: underline; }
  .contact-list li a, .contact-list li span {
    margin-left: 30px; }
  .contact-list li .ico {
    color: #ccc;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 16px;
    text-align: center; }

.skills-list {
  margin-top: 20px; }
  .skills-list li {
    margin-bottom: 20px; }
    .skills-list li:first-child .skills-indicator:before {
      width: 15%; }
    .skills-list li:first-child .skills-indicator:after {
      content: "Начинающий"; }
    .skills-list li:nth-child(2) .skills-indicator:before {
      width: 95%; }
    .skills-list li:nth-child(2) .skills-indicator:after {
      content: "Эксперт"; }
    .skills-list li:nth-child(3) .skills-indicator:before, .skills-list li:nth-child(4) .skills-indicator:before {
      width: 70%; }
  .skills-list h3 {
    color: #778492;
    font-size: 16px; }
  .skills-list .skills-indicator {
    display: block;
    background-color: #ddd;
    margin-top: 10px;
    height: 15px;
    width: 100%;
    position: relative; }
    .skills-list .skills-indicator:before {
      content: "";
      background-color: #66cb8c;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 80%; }
    .skills-list .skills-indicator:after {
      content: "Про";
      font-size: 12px;
      color: #bbb;
      position: absolute;
      right: 0;
      top: -26px;
      line-height: 1; }

.external-link {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .external-link:hover {
    text-decoration: underline;
    color: #349759; }
  .external-link .ico {
    margin-right: 5px;
    font-size: 14px; }

.reviews__par, .reviews .source {
  padding-left: 25px; }

.reviews__par {
  position: relative;
  padding: 10px 0 10px 25px;
  margin-bottom: 10px;
  color: #666; }
  .reviews__par:before {
    content: ' ';
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: #9bd798;
    left: 0;
    top: 0; }
  .reviews__par .ico {
    margin-right: 15px;
    color: #9bd798; }

.source {
  margin-bottom: 30px; }
  .source__detail {
    display: block;
    color: #939ea9;
    font-size: 14px; }
  .source .s-name {
    font-weight: bold; }

.edu__list li {
  margin-bottom: 30px;
  color: #778492; }
  .edu__list li .edu-heading {
    font-size: 16px;
    color: #778492;
    margin-bottom: 10px; }
    .edu__list li .edu-heading .ico {
      margin-right: 5px; }
  .edu__list li .edu-info {
    font-size: 14px;
    font-weight: bold; }
    .edu__list li .edu-info span {
      font-weight: normal;
      display: block; }

.langs .lang {
  color: #778492; }
  .langs .lang span {
    font-weight: bold; }
  .langs .lang .ico {
    color: #9bd798; }

@media only screen and (max-width: 1200px) {
  /**/ }

@media only screen and (max-width: 992px) {
  /**/ }

@media only screen and (max-width: 768px) {
  .primary {
    margin-bottom: 30px; }
  .projects__list li {
    margin-bottom: 60px; }
    .projects__list li p {
      margin-bottom: 15px; }
  .projects__desc {
    padding: 30px 0 0 0 !important; } }

@media only screen and (max-width: 576px) {
  /**/ }

@media only screen and (min-width: 1660px) {
  /**/ }
